[Unit]
Description=Graylog web interface
BindTo=network.target

[Service]
Type=simple
User=root
PIDFile=/var/run/graylog-web.pid
ExecStart=/usr/share/graylog-web/bin/graylog-web-interface

[Install]
WantedBy=multi-user.target
