[Unit]
Description=Graylog server daemon
BindTo=network.target
Requires=elasticsearch.service mongodb.service

[Service]
Type=simple
User=root
PIDFile=/var/run/graylog-server.pid
ExecStart=/usr/bin/java -jar /usr/share/graylog-server/graylog.jar server -f /etc/graylog/server/server.conf -p /var/run/graylog-server.pid

[Install]
WantedBy=multi-user.target
